body {
    font-family: 'Verdana';
}
.header {
    color: #e55600;
    font-size: 22pt;
    opacity: 0.2;
}

.header img{
   float: left;
}
.header h1 {
    position: relative;
    top: 20px;
    left: 10px;
}
.mainColumn {
    width: 60%;
    margin:auto;
}

.headerTitle {
    margin: auto;
    width: 60%;
    width: 60%;
}
.background {
    background-image: url("NewFolder/kisspng-watercolour-flowers-painting-watercolor-flowers-5aaabbaa221093.9332369315211386021395.png");
    background-position: 100%;
    background-repeat: repeat;
    background-size: cover;
    
}
.proffesionalJourney, .hobby {
    background-color: #feffdd;
    border-radius: 25px;
    padding: 25px;
    color: #24857d;
}

.column {
    float: left;
    width: 31.33%;
    padding: 5px;
}
.column img { width: 180px;}

.row::after {
    content: "";
    clear: both;
    display: table;
}


main {
  
    /*color: grey;*/
    font-size: 12pt;
}
